# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Large Datasets (>100MB)
*.zip
*.tar.gz
*.7z
motley-fool-data.pkl/
complete_sentiment_data.csv

# Environments
.env
.venv
env/
venv/
ENV/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
